<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" th:href="@{/imges/favicon.ico}" type="image/x-icon">
    <title>密码管理系统</title>

    <!-- layui css -->
    <link th:href="@{/plugins/layui-v2.5.6/css/layui.css}" rel="stylesheet">

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
            <div style="font-size: 25px; margin: 10px 0px 20px 0px;">密码管理系统</div>
        </div>

        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                    <li class="layui-this">列表</li>
                    <li>生成随机密码</li>
                </ul>
                <div class="layui-tab-content" id="tabContent" style="overflow: auto;">
                    <!--列表-->
                    <div class="layui-tab-item layui-show">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                    列表
                                </div>
                                <div class="layui-col-xs8 layui-col-sm8 layui-col-md8" style="text-align: right;">
                                    <form class="layui-form" action="/list" style="display: inline-block;">
                                        <input type="text" name="likeAll" th:value="${likeAll}" placeholder="请输入关键字..." class="layui-input" style="width: 300px; display: inline-block;">
                                        <button type="submit" class="layui-btn layui-btn-primary layui-btn-sm">搜索</button>
                                    </form>

                                    <button type="button" class="layui-btn layui-btn-sm" onclick="refresh()">刷新</button>
                                    <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" onclick="openForm('add')">新增</button>
                                </div>
                            </div>
                            <div class="layui-card-body" id="cardBody" style="overflow: auto;">
                                <table class="layui-table" lay-size="sm">
                                    <thead>
                                    <tr>
                                        <td align="center" width="30">序号</td>
                                        <td>网站名称</td>
                                        <td width="80">账号</td>
                                        <td width="80">密码</td>
                                        <!--<td width="100">昵称</td>-->
                                        <td width="70">QQ</td>
                                        <td width="120">Email</td>
                                        <td align="center" width="70">手机号</td>
                                        <td align="center" width="80">操作</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="data,dataState : ${page.records}">
                                        <td align="center" th:text="${dataState.index + 1}"></td>
                                        <td>
                                            <a th:href="${data.websiteUrl}" th:text="${data.websiteName}" target="_blank" class="info-text" style="color: blue"></a>
                                        </td>
                                        <!--<td th:text="${data.account}"></td>-->
                                        <td th:text="${data.account}" th:onclick="copy(false, [[${data.account}]])" style="cursor: pointer;" th:title="点击复制"></td>
                                        <!--<td th:text="${data.pwd}"></td>-->
                                        <td th:text="${data.pwd}" th:onclick="copy(false, [[${data.pwd}]])" style="cursor: pointer;" th:title="点击复制"></td>
                                        <!--<td th:text="${data.nickName}"></td>-->
                                        <td th:text="${data.qq}"></td>
                                        <td th:text="${data.email}"></td>
                                        <td align="center" th:text="${data.mobileNumber}"></td>
                                        <td align="center">
                                            <a href="javascript:void(0)" th:onclick="openPreview([[${data.id}]]);" class="btn btn-link" style="color: blue">
                                                查看
                                            </a>
                                            <a href="javascript:void(0)" th:onclick="openForm('edit', [[${data.id}]]);" class="btn btn-link" style="color: magenta">
                                                编辑
                                            </a>
                                            <a href="javascript:void(0)" th:onclick="del([[${data.id}]]);" class="btn btn-link" style="color: red;">
                                                删除
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--生成随机密码-->
                    <div class="layui-tab-item" id="ramPwdHtml"></div>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- jquery js -->
<script th:src="@{/plugins/jquery-1.12.4/jquery.min.js}"></script>
<!-- layui js -->
<script th:src="@{/plugins/layui-v2.5.6/layui.all.js}"></script>

<script type="text/javascript">
    var layer = layui.layer;

    //加载生成密码页
    $("#ramPwdHtml").load("/ram-pwd-view");

    //设置teb内容区高度
    var maxHeight = window.innerHeight - 150;
    $("#tabContent").height(maxHeight);
    //设置表格的高度
    $("#cardBody").height(maxHeight - 70);

    //打开表单页
    function openForm(type, id){
        var title = "新增";
        var url = "/add-view";
        if(type == 'edit'){
            title = "修改";
            url = "/edit-view/" +id;
        }

        layer.open({
            title: title,
            type: 2,
            area: ['600px', '450px'],
            content: [url, 'yes'],
            end: function(){
                //弹窗关闭时刷新
                window.location.reload();
            }
        });
    }

    //打开查看预览页
    function openPreview(id){
        layer.open({
            title: '预览',
            type: 2,
            area: ['600px', '450px'],
            content: ['/preview/' + id, 'yes']
        });
    }

    //删除
    function del(id) {
        layer.confirm('确认删除？', function(index){
            $.ajax({
                type: "delete",
                url: "/delete?ids=" + id,
                success: function(res){
                    if(res){
                        layer.msg('操作成功！');
                        window.location.reload();
                    }
                }
            });

            //必须手动关闭
            layer.close(index);
        });
    }

    //刷新
    function refresh() {
        $.get('/refresh', function(res){
            if(res){
                window.location.reload();
            }
        });
    }

    /**
     * 复制
     * @param  {String} id [需要粘贴的内容]
     * @param  {String} attr [需要 copy 的属性，默认是 innerText，主要用途例如赋值 a 标签上的 href 链接]
     *
     * range + selection
     *
     * 1.创建一个 range
     * 2.把内容放入 range
     * 3.把 range 放入 selection
     *
     * 注意：参数 attr 不能是自定义属性
     * 注意：对于 user-select: none 的元素无效
     * 注意：当 id 为 false 且 attr 不会空，会直接复制 attr 的内容
     */
    function copy (id, attr) {
        var target = null;

        if (attr) {
            target = document.createElement('div');
            target.id = 'tempTarget';
            target.style.opacity = '0';
            if (id) {
                var curNode = document.querySelector('#' + id);
                target.innerText = curNode[attr];
            } else {
                target.innerText = attr;
            }
            document.body.appendChild(target);
        } else {
            target = document.querySelector('#' + id);
        }

        try {
            var range = document.createRange();
            range.selectNode(target);
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
            document.execCommand('copy');
            window.getSelection().removeAllRanges();
            console.log('复制成功');
            layer.msg('复制成功！');
        } catch (e) {
            console.log('复制失败');
            layer.msg('复制失败！');
        }

        if (attr) {
            // remove temp target
            target.parentElement.removeChild(target);
        }
    }
</script>

</body>
</html>