<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>生成随机密码</title>

    <!-- layui css -->
    <link th:href="@{/plugins/layui-v2.5.6/css/layui.css}" rel="stylesheet">

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">密码类型</label>
        <div class="layui-input-block">
            <input type="checkbox" id="num" checked title="0-9">
            <input type="checkbox" id="upA" checked title="A-Z">
            <input type="checkbox" id="lowA" checked title="a-z">
            <input type="checkbox" id="special" title="特殊符号">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">密码长度</label>
        <div class="layui-input-block">
            <input type="text" id="ipt_len" value="10" class="layui-input" style="width: 200px;">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">结果为: </label>
        <div class="layui-input-inline">
            <!--<input type="text" id="pw_result" class="layui-input" style="width: 200px;">-->
            <p id="pw_result" class="layui-input" style="width: 200px; line-height: 38px;"></p>
        </div>
        <div class="layui-form-mid layui-word-aux" style="margin-left: 10px;">
            <a href="javascript:void(0)" title="点击复制" onclick="Common.copy('pw_result')" style="font-size: 13px; color: blue;">复制(Copy)</a>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-sm" onclick="submit()">生成随机密码</button>
            <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
        </div>
    </div>
</div>

<!-- layui js -->
<script th:src="@{/plugins/layui-v2.5.6/layui.all.js}"></script>
<!-- ram-password js -->
<script th:src="@{/js/ram-password.js}"></script>
<script th:src="@{/js/common.js}"></script>

<script type="text/javascript">

    function submit(){
        //包含0-9
        var num = $("#num").is(':checked');
        //包含A-Z
        var upA = $("#upA").is(':checked');
        //包含a-z
        var lowA = $("#lowA").is(':checked');
        //特殊符号
        var special = $("#special").is(':checked');
        //密码长度
        var length = $("#ipt_len").val();
        if(!length){
            length = 10;
        }

        var pwd = make(num, upA, lowA, special, parseInt(length));
        //console.log(pwd);
        //$("#pw_result").val(pwd);
        $("#pw_result").html(pwd);
    };
</script>

</body>
</html>